.change-password-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

mat-card {
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32; /* green heading */
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
