mat-dialog-content {
    font-size: 1rem;
    padding-top: 8px;
  }
  
  mat-dialog-actions {
    margin-top: 1rem;
  }
  
  button {
    min-width: 90px;
  }
  
  .custom-login-btn {
    background-color: #004d40;
    color: white;
  }
  
  .custom-login-btn:hover {
    background-color: #00332d;
  }
  