<div class="rules-container">
    <h2>Kitchen Safety & Hygiene Rules</h2>
    <ul>
      <li *ngFor="let rule of rules">{{ rule }}</li>
    </ul>

    <!-- Show this section only for admins -->
    <div *ngIf="isAdmin" class="admin-actions">
      <!-- <button mat-raised-button color="primary" (click)="openAddRuleDialog()">
        <mat-icon>add_circle</mat-icon>
        Add New Rule
      </button> -->
      <button mat-raised-button color="accent" (click)="openEditRulesDialog()">
        <mat-icon>edit</mat-icon>
        Edit Rules
      </button>
    </div>
</div>