.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #00796b, #004d40);
}

.login-box {
  background-color: white;
  padding: 2.5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-box h2 {
  text-align: center;
  color: #00796b;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.login-box input,
.login-box select {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.login-box button {
  background-color: #00796b;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #005b4f;
}

.extras {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.extras a {
  color: #00796b;
  text-decoration: none;
}

.extras a:hover {
  text-decoration: underline;
}


.signup-btn {
  background-color: #fff;
  color: #00796b;
  border: 2px solid #00796b;
  padding: 0.75rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}
.signup-btn:hover {
  background-color: #00796b;
  color: #fff;
}